.__products-wrapper {
   display: flex;
   gap: 30px;
   justify-content: center;
   margin-top: 78px;
   flex-wrap: wrap;
}

.__products-title {
    text-align: center;
    position: relative;
}

.__products-title h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 46px;
    line-height: 90px;
    color: #283E51;
    z-index: -1;
}

.__products-title span {
    font-family: 'Rockness-Regular', sans-serif;
    color: #17AC9D;
    font-size: 65px;
    line-height: 90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -40%;
    z-index: 2;
}
