.__topic-wrapper {
    text-align: center;
    margin-top: 90px;
}

.__topic-wrapper__content {
    display: flex;
    justify-content: center;
    margin: 78px auto;
    gap: 30px;
    flex-wrap: wrap;
}