.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 100px;
}

@media screen and (max-width: 1230px) {
    .nav {
        padding: 60px 60px;
    }
}

@media screen and (max-width: 1155px) {
    .nav {
        padding: 40px 0px;
    }
}

.nav__logo {
    width: 32px;
    height: 30px;
}

.nav__links {
    width: 60%;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    font-family: 'Gilroy-Medium', sans-serif; 
}

.nav__links a {
    text-decoration: none;   
    color: #67859E;
    margin-left: 3rem;
}

@media screen and (max-width: 1155px) {
    .nav__links a {
        margin-left: 2rem;
    }
}

.nav button {
    background-color: white;
    border: 1px solid #67859E;
    color: #67859E;
    width: 40px;
    height: 40px;
    cursor: pointer;
}