@import '../../helperVariables/Variables.scss';

.page-title {
    font-family: 'Butler-regular', sans-serif;
    font-size: 100px;
    line-height: 100px;
    color: $blue;
    margin-top: 0;
}

@media screen and (max-width: 1150px) {
    .page-title {
        font-size: 80px;
    }
}