.__introduction-wrapper{
    text-align: center;
}

.__introduction-wrapper__content {
    margin: auto;
}

.p-group {
    margin: 70px auto;
}

.__introduction-wrapper__content p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Gilroy-Regular', sans-serif;
    color: #283E51;
    opacity: 0.8;
    text-align: left;
    width: 40%;
    margin: 30px auto;
}

@media screen and (max-width:1155px){
    .__introduction-wrapper__content p {
        width: 60%;
    }
}